body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

.selected {
  opacity: 0.1;
}

.grid {
  display: grid;
  grid-template-columns: 123px 123px 123px 123px 123px;
  grid-gap: 10px;
  justify-content: center;
}

.card-image {
  height: 175px;
  width: 113px;
  margin: 10px;
}

.message {
  margin-top: 10px;
}

.result {
  margin-top: 10px;
}
